/* you can use the styling here as a guide */
html { height:100%; }

body {
    background: url("../../images/default/grid_bg.gif") repeat;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#accordion {
    font-size: 12px;
}

#accordion h3 a {
    font-weight: bold;
}

.ui-state-active a:link {
    color: #f55;
}

#container {
    height: 100%;
}

#footer {
    background: #000;
    color: #fff;
    clear: both;
    font-size: 0.8em;
    padding: 10px;
    width: 250px;
}

#lcol {
    float: left;
}

#map-canvas {
    float: right;
    width: 50%; 
    height: 70%;
}

#store-list {
    float: left;
    padding: 0px 0px 0px 10px;
}

.subtitle {
    padding: 0px 0px 10px 10px;
    font-weight: normal;
}

.description {
    padding: 0px 0px 0px 10px;
    font-style: italic;
}